@font-face { 
    font-family: "BobbinBold" ;
    src: url('fonts/bobbin_bold.woff'); 
    } 
@font-face { 
    font-family: "CollectEmAll" ;
    src: url('fonts/collect_em_all_bold.woff'); 
    } 

body {
    background-color: #292b2c;
    color: white;

    padding: 0 25%;

}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #888e91;
    height: 60px;
    z-index: 50;
}
.nav-title {
    flex: 1;
    justify-self: center;
    font-size: 30px;
    color: #292b2c;
    font-family: "BobbinBold";
    margin-right: -55px;
    padding-top: 15px;

}
#button-menu {
    all: unset;
    padding: 15px;
    display: flex;
    align-items: center;
}
#button-menu img {
    width: 20px;
}

/* MENU */
#menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:  #888e91;
    z-index: 100;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-animation: expand 1s;
}

#menu-close {
    all: unset;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px;
    -webkit-animation: fadein 2s;
}
#menu-close img {
    width: 25px;
}
#menu .link {
    -webkit-animation: fadein 1.5s;
    width: 80%;
    padding: 0 40px;
}



/* CONTENT */
.title-div {
    margin-top: 80px;
    text-align: center;
}
.title-h {
    font-size: 70px;
    margin-bottom: 0;
    font-family: "BobbinBold";
}
.section {
    position: relative;
    margin: 0 15px 50px 15px;

}
.section:last-of-type {
    margin-bottom: 100px;
}
.section-title {
    font-size: 40px;
    margin: 0;
    font-family: "BobbinBold";
    text-align: center;
}
.item-name {
    color: white;
    margin: 5px 0;
    padding: 0px;
    font-size: 15px;
    font-family: "CollectEmAll";
    z-index: 50;
}

#footer {
    background-color: #888e91;
    text-align: center;
    font-family: "CollectEmAll";
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    color: #292b2c;
}


#alcohol-free .section-title, #alcohol-free .item-price {
    color: #D8826F;
}
#warm-drinks .section-title, #warm-drinks .item-price {
    color: #f0ad4e;
}
#beer .section-title, #beer .item-price {
    color: #6f8a5c;
}
#wines .section-title, #wines .item-price {
    color: #df5357;
}
#spirit-drinks .section-title, #spirit-drinks .item-price {
    color: #D8826F;
}
#meals .section-title, #meals .item-price {
    color: #6f8a5c;
}
#sale .section-title, #sale .item-price {
    color: #2596be ;
}
/* IMAGES STYLES */
.alcohol-free-img {
    position: absolute;
    top: 70px;
    right: 0;
    opacity: 0.3;
}
.warm-drinks-img {
    position: absolute;
    bottom: 50px;
    right: 0;
    opacity: 0.3;
}
.beer-img {
    position: absolute;
    right: 0;
    top: 30px;
    opacity: 0.3;
}
.wines-img {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.3;
}
.spirit-drinks-img {
    position: absolute;
    right: -15px;
    top: 100px;
    opacity: 0.3;

}
.sale-img {
    position: absolute;
    right: 30px;
    opacity: 0.3;    
}
.meals-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0.3;    
}
/* ANIMATIONS */
@keyframes fadein {
    0% { opacity: 0; }
    5% {opacity: 0;}
    100%   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes expand{
    0% {
        height: 0px;
    }
    100% {
        height: 100%;
    }
}

/* HELPERS */
.hover {
    cursor: pointer;
    filter: brightness(120%);
}
.text-center {
    text-align: center;
}
.text-orange {
    color: #d3745f;
}
.text-yellow {
    color: #f0ad4e;
}
.text-green {
    color: #4a5c3d;
}
.text-light-green {
    color: #6f8a5c;
}
.text-red {
    color: #db3d42;
}
.text-blue {
    color: #1d7595;
}


@media only screen and (max-width: 900px) {
    body {
        padding: 0;
    }
  }